{% extends 'base.html.twig' %}
{% block title %}
    Products list
{% endblock %}
{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <th scope="row">{{ product.id }}</th>
                    <td>
                        <a href="{{ path('product_details', { 'product': product.id }) }}">
                            {{ product.name }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}